<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Publication Site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/articles/">Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/articles/create/">Create Article</a>
            </li>
        </ul>
    </nav>
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>